@font-face {
  font-family: 'BasierCircle';
  src: url('assets/fonts/BasierCircle-Regular.woff') format('woff'), url('assets/fonts/BasierCircle-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Silka';
  src: url('assets/fonts/Silka-Regular.woff') format('woff'), url('assets/fonts/Silka-Bold.woff') format('woff');
}

body {
  margin: 0;
  font-family: Silka, BasierCircle, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
